/* ---RESET--- */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 400;
    height: auto;
    font-size: 0.95em;
    background-color: white;
}

    /* ---- HEADER ---- */

@media screen and (min-width: 761px){

    header {
        position: relative;
        max-width: 1440px;
        height: 90px;
        padding-top: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }

    nav {
        position: absolute;
        right: 165px;
        display: flex;
    }

    .navigation {
        padding-top: 45px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 2px solid transparent;
        height: 110px;
        margin-right: 55px;
        text-align: center;
    }
    
    .inscrire {
        cursor: pointer;
        color: #0065FC;
        font-weight: 800;
        width: 120px;
        margin-right: 3.8%;
    }

    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
    }
    
    #logo img {
        height: 42px;
        margin-left: 3.8%;
        cursor: pointer;
    }
}
    /* ---- MAIN ---- */

    main {
        height: 1515px;
        max-width: 1440px;
        margin: 0 auto;
        background-color: white;
    }


/* -- Section de recharche -- */

#recherche {
    position: relative;
    width: auto;
    height: 290px;
    margin: 0px 3.8%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#titre {
    width: 100%;
    height: 60px;
    font-weight: 600;
    padding: 20px 0px 0px 0px;
}

h1 {
    margin-bottom: 5px;
    font-size: 1.3em;
}

.soustitre {
    font-size: 0.9em;
    font-weight: 600;
}

#modulerecherche {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid #F2F2F2;
    width: 400px;
    height: 45px;
    border-radius: 15px;
    margin-top: 25px;
}

.iconmap {
    position: absolute;
    left: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

input {
    display: block;
    margin-left: 45px;
    margin-right: 120px;
    height: 45px;
    width: 235px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 10px;
}

.button {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.loupe {
    display: none;
}

/* -- Les filtres -- */

#lesfiltres {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.boutonsfiltre {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.filtre {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 50px;
    border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    border-radius: 25px;
    cursor: pointer;
}

.iconfiltre {
    height: 50px;
    width: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #DEEBFF;
    border-radius: 50%;
}

.textefiltre {
    margin: 0px 15px;
    font-weight: 800;
    font-size: 1.15em;
}

h3 {
    font-size: 1.1em;
}
/* -- icon info -- */

#info {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
}

.iconi {
    font-size: 0.75em;
    height: 20px;
    width: 20px;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

#info .soustitre {
    margin-top: 0;
    margin-left: 10px;
    display: block;
}

/* -- Hebergment / Section & Aside--*/

#hébergements {
    margin: 0px 3.8%;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 30px;
}

#hébergements section {
    height: 625px;
    width: 65%;
}

.lignecarte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#hébergements aside {
    height: 625px;
    width: 31.6%;
}

.blockgrey {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 40px 40px;
}

.blockgrey h3 {
    display: block;
    height: 20px;
    margin-top: 40px;
    padding-bottom: 25px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    width: auto;
}

h4 {
    font-size: 1em;
    margin: 5px 0;
}

.titrepopulaires {
    display: flex;
    justify-content: space-between;
}

.iconcourbe {
    font-size: 1.45em;
}

/* -- Cartes herbergements -- */

.fa-star {
    font-size: 0.8em;
    letter-spacing: -3px;
}

.starblue {
    color: #0065FC;
}

.stargrey {
    color: #F2F2F2;
}

.bloccartes1 {
    width: 100%;
    height: 425px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.cartetype1 {
    height: 200px;
    width: 31%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cartetype1 img {
    display: block;
    object-fit: cover;
    height: 110px;
    border-radius: 10px 10px 0 0;
}

.zonetexte1 {
    background-color: white;
    height: 200px;
    border-radius: 0 0 10px 10px;
    padding-left: 15px;
    padding-top: 5px;
}

.zonetexte1 p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.cartetype1 span {
    font-weight: 600;
}

/* -- cartes aside -- */

.bloccartes2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 491px;
    width: 100%;
}

.cartetype2 {
    position: relative;
    width: 100%;
    height: 145px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.bloccartes2 img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 36%;
    border-radius: 10px 0 0 10px;
}

.zontexte2 {
    padding: 0 7%;
}

.asideétoiles {
    position: absolute;
    bottom: 10px;
}

/* -- Activités section -- */

#activités {
    height: 600px;
    max-width: 1440px;
    padding: 50px 55px;
    margin-bottom: 15px;
}

#activités img {
    border-radius: 20px 20px 0 0;
}

.blockactivités {
    width: 100%;
    height: 446px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.blockactivité1, .blockactivité2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48.27%;
    min-width: 480px;
}

.colonne, .carré {
    width: 46.5%;
}

.carré {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colonne {
    height: 446px;
    cursor: pointer;
}

.colonne img{
    display: block;
    object-fit: cover;
    height: 391px;
}

.colonne, .carrétype1, .carrétype2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.carrétype1 {
    height: 235px;
    cursor: pointer;
}

.carrétype1 img{
    display: block;
    object-fit: cover;
    height: 180px;
}

.carrétype2 {
    height: 165px;
    cursor: pointer;
}

.carrétype2 img{
    display: block;
    object-fit: cover;
    height: 110px;
}

.titreactivités {
    display: flex;
    align-items: center;
    height: 55px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
}

/* ---- FOOTER ---- */

#pieddepage {
    background-color: #F2F2F2;
    padding: 40px 55px;
    margin: 0 auto;
    max-width: 1440px;
    height: 220px;
    display: flex;
}

#pieddepage section {
    width: 450px;
    height: 140px;
}

#pieddepage section h3 {
    margin-bottom: 25px;
}

#pieddepage section p {
    margin-bottom: 12px;
    cursor: pointer;
}

/* ---- RESPONSIVE LAPTOP ---- */

@media screen and (max-width: 1440px){
    
    .blockgrey {
        padding: 20px 3.8% 40px 3.8%;
    }

    #hébergements section {
        padding: 40px 3.8%;
    }
    
}

@media screen and (min-width: 1240px){

    /* -- Effets -- */
    
    a:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
        transition: all 350ms;
    }

    .filtre:hover {
        color: #0065FC;
        background-color: #DEEBFF;
        border-top: 2.5px solid #0065FC;
        border-right: 2.5px solid #0065FC;
        border-bottom: 2.5px solid #0065FC;
        transition: all 450ms;
    }

    .filtre:hover .iconfiltre {
        color: white;
        background-color: #0065FC;
        border: 2.5px solid transparent;
        transition: all 300ms;
    }

    .cartetype1:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
    }

    .cartetype2:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
    }

    .blockgrey h3:hover {
        border-bottom: 2px solid black;
        transition: all 400ms;
    }

    .colonne:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
    }

    .carrétype1:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
    }

    .carrétype2:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
    }
    
}

@media screen and (max-width: 1180px) {

    main {
        height: 1740px;
    }

    #hébergements {
        height: 850px;
    }

    #hébergements section {
        height: 850px;
        width: 55%;
    }

    .bloccartes1 {
        height: 650px;
        flex-direction: row;
    }

    .lignecarte {
        width: 47.5%;
        height: 650px;
        flex-direction: column;
    }

    .cartetype1 {
        width: 100%;
    }

    #hébergements aside {
        height: 850px;
        width: 41.6%;
    }

    .bloccartes2 {
        height: 715px;
    }

    .cartetype2 {
        height: 222px;
    }

    .bloccartes2 img {
        width: 45%;
    }

}

/* ---- RESPONSIVE TABLETTE ---- */

@media screen and (max-width: 990px){

    body {
        font-size: 1em;
        word-wrap: break-word;
    }

    /* - zone de rechercher -*/

    #recherche {
        height: 380px;
    }

    #modulerecherche {
        margin-top: 30px;
    }

    #lesfiltres {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    #lesfiltres h3 {
        margin-bottom: 15px;
    }

    .boutonsfiltre {
        min-height: 110px;
        align-content: space-between;
    }
    
    .filtre {
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-right: 25px;
        height: 50px;
        border-top: 2.5px solid #F2F2F2;
        border-right: 2.5px solid #F2F2F2;
        border-bottom: 2.5px solid #F2F2F2;
        border-radius: 25px;
        cursor: pointer;
    }

    /*- zone hébergements + populaires -*/

    #hébergements {
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: space-between;
        height: 1445px;
    }

    #hébergements section {
        background-color: white;
        height: 850px;
        width: 100%;
    }
    
    #hébergements aside {
        height: 625px;
        width: 100%;
    }

    .cartetype2 {
        width: 100%;
        height: 145px;
    }

    .bloccartes2 {
        height: 470px;
    }

    .bloccartes2 img {
        display: block;
        object-fit: cover;
        width: 50%;
        border-radius: 10px 0 0 10px;
    }

    .blockgrey {
        border-radius: 0%;
    }

}

/* ---- REPONSIVE Intermédiaire ---- */

@media screen and (max-width: 760px){
    
    header {
        position: relative;
        height: 120px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #logo {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    #logo img {
        height: 45px;
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
        height: 40px;
    }

    nav a {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        border-top: 0px solid transparent;
        border-bottom: 2px solid transparent;

    }

    .inscrire {
        cursor: pointer;
        color: #0065FC;
        font-weight: 600;
    }

    a:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        transition: all 350ms;
    }

    .soustitre {
        margin-top: 15px;
    }
   
    #info {
        height: 20px;
    }
}

@media screen and (max-width: 616px){

    #recherche {
        height: 420px;
    }

    #modulerecherche {
        margin-top: 60px;
    }
}

@media screen and (max-width: 532px){

    main {
        height: 2315px;
    }

    #recherche {
        height: 480px;
    }

    #lesfiltres {
        height: 160px;
    }

    .boutonsfiltre {
        min-height: 170px;
    }

    #info {
        align-items: flex-start;
    }

    .bloccartes1 {
        flex-direction: row;
        height: 1140px;
    }

    .lignecarte {
        width: 100%;
        height: 564px;
    }

    section {    
        height: 1300px;
    }
}

/* ---- REPONSIVE MOBILE ---- */

@media screen and (max-width: 430px){

    body {
        font-size: 1.1em;
    }

    #modulerecherche {
        margin: 75px auto 0 auto;
        width: 95%;
    }
    
    input {
        margin: 0 45px;
    }

    #recherche {
        height: 560px;
    }

    .button {
        width: 45px;
        border-radius: 15px;
    }

    .button p {
        display: none;
    }
    
    .loupe {
        display: block;
    }

    .boutonsfiltre {
        min-height: 220px;
    }

    #info {
        height: 55px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #lesfiltres {
        height: 260px;
    }

}